body{

}

h1 {
  font-size: 20px;
  text-align: center;
}
.application {
  background-color: #ddd;
  border: 10px green solid;
  margin: 5px;
}

.new-post {
  border: 5px blue solid;
  margin: 5px;
}

.post-list {
  border: 5px red solid;
  margin: 5px;
}

.post-item {
  background-color: #fff;
  border: 3px black solid;
  margin: 5px;
}
